html,body,div {
    margin: 0;
    padding: 0;
}

html,body {
    overflow: hidden;
}

html {
    overscroll-behavior: none;
}

#map { 
    height: 100vh; 
    z-index: 0; /* Prevent child elements z-levels from escaping out*/
}

#mapcontainer {
    position: relative;
    overflow: hidden;
}

#sidebar {
    display: block;
    position: absolute;
    width: 300px;
    height: 80vh;
    right: 15px;
    top: 15px;
    opacity: .95;
    background-color: white;
    transform: translate3d(100vw,0,0);
    transition: transform .2s;
    box-shadow: 2px 2px 2px 2px rgba(1,1,1,.3);
    border-radius: 2px;
    
}

#sidebar.visible {
    transform: translate3d(0,0,0);
}

#swipe-handle {
    display: none;
    background-color: black;
    height: 4px;
    width: 25px;
    margin: 10px auto;
    opacity: .4;
    border-radius: 4px;
}

#close-button-ctr {
    text-align: right;
    display: block;
}

#close-button {
    display: inline-block;
    text-align: right;
    margin: 5px;
    margin-right: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

#close-button::after {
    content: "\00d7";
    cursor: pointer
}

@media only screen and (max-width: 600px) {
    #close-button {
        display: none;
    }

    #swipe-handle {
        display: block;
    }

    #sidebar {
        
        transform: translate3d(0,100vh,0);
        width: auto;
        left: 15px;
        right: 15px;
        top: 30vh;
    }
}

#sidebar-content {
    padding-left: 15px;
    padding-right: 15px;
}

#sidebar .drip_img {
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    width: 100%;
    height: auto;
}

.hecto_container {
    --bg-color: hsl(179, 75%, 29%);
    background-color: var(--bg-color);
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    /* box-sizing: content-box; */
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}
.hecto {
    border-radius: 10px;
    padding: 7px;
    padding-bottom: 2px;
    background-color: var(--bg-color);
    border: 4px solid white;
    font-weight: 500;
    font-family: Arial,Helvetica, sans-serif;
}

.hecto_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hecto_road {
    border-radius: 2px;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    background-color: rgb(236, 186, 22);
    color: black;
    margin-right: 30px;
    margin-bottom: 5px;
    padding: 2px 3px;
    vertical-align: middle;
    height: 100%;
    font-size: 1.8em;
    letter-spacing: 3px;
    /* line-height: 1.6em; */
}

.hecto_side {
    text-align: right;
    display: inline-block;
    font-size: 2em;
    
    
}

.hecto_bottom {
    font-size: 2em;
    text-align: left;
    display: block;
}